* {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    text-align: center;
}
body.chickenparm {
    background-color: lightcoral;
}

body.mac {
    background-color: lightyellow;
}

body.pasta {
    background-color: lightgreen;
}

.myUL {
    display: inline-block;
    text-align: left;
}
