* {
    font-family: Arial, Helvetica, sans-serif;
    background-color: darkgoldenrod;

}

h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 32px;
    text-align: center;
}

.container {
    text-align: center;
    display: block;
    border: 3px dotted blue;
    margin: 0 250px;
    background-color: aliceblue;

}

.container .myUL {
    display: inline-block;
    text-align: center;
    font-size: 24px;
    padding: 25px;
    background-color: aliceblue;
}

.one {
    padding-bottom: 10px;
    background-color: aliceblue;
}

.two {
    padding-bottom: 10px;
    background-color: aliceblue;
}

.three {
    background-color: aliceblue;
}
